(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 0,
        minor: 2,
        patch: 0,
      ),
      released: "2024-01-13T16:21:28.970748981Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".gitattributes; fixes #21",
            ".rustfmt.toml; fixes #24",
            "BufReadReader",
            "BufReadReader::read_loudly",
            "BufReadReader::read_silently",
            "CI:  upload new crate version to registry on release",
            "tests for BufReadReader",
          ],
          "Changed": [
            "README:  list of dependencies",
          ],
          "Fixed": [
            "typos in documentation",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 1,
        patch: 0,
      ),
      released: "2024-01-12T16:51:12.198926517Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".clippy.toml",
            ".github/CODEOWNERS",
            ".github/aeruginous-io.cff",
            ".github/release.yml",
            ".github/workflows/cff.yml",
            ".github/workflows/ci.yml",
            ".github/workflows/comment-changes.yml",
            ".github/workflows/mirror.yml",
            ".github/workflows/pr.yml",
            ".github/workflows/release.yml",
            ".github/workflows/ronlog.yml",
            ".gitignore",
            ".renovaterc.json5",
            ".version",
            "CHANGELOG.ron",
            "CITATION.cff",
            "Cargo.lock",
            "Cargo.toml",
            "PathBufLikeReader",
            "PathBufLikeReader::read_loudly",
            "PathBufLikeReader::read_silently",
            "README.md",
            "README:  list of dependencies",
            "dependency:  Rust crate ``sysexits``",
            "repository creation",
            "src/lib.rs",
            "src/reading.rs",
            "tests/assets/GPL-3.0.rs",
            "tests/reading.rs",
          ],
        },
      ),
    ),
  ],
)
