(
  references: {},
  changes: {
    "Added": [
      "PathBufLikeTruncation",
      "PathBufLikeTruncation::truncate_loudly",
      "PathBufLikeTruncation::truncate_silently",
      "src/writing.rs",
      "tests/writing.rs",
    ],
  },
)
