(
  references: {},
  changes: {
    "Added": [
      "BufReadReader",
      "BufReadReader::read_loudly",
      "BufReadReader::read_silently",
      "tests for BufReadReader",
    ],
    "Fixed": [
      "typos in documentation",
    ],
  },
)
