(
  references: {},
  changes: {
    "Added": [
      ".clippy.toml",
      ".github/CODEOWNERS",
      ".github/aeruginous-io.cff",
      ".github/release.yml",
      ".github/workflows/cff.yml",
      ".github/workflows/mirror.yml",
      ".github/workflows/pr.yml",
      ".gitignore",
      "Cargo.lock",
      "Cargo.toml",
      "PathBufLikeReader",
      "PathBufLikeReader::read_loudly",
      "PathBufLikeReader::read_silently",
      "dependency:  Rust crate ``sysexits``",
      "src/lib.rs",
      "src/reading.rs",
      "tests/assets/GPL-3.0.rs",
      "tests/reading.rs",
    ],
  },
)
